<div class="star-range-group">
    <input name="<%=survey.column_code %>" type="range" min="1" max="5" value="4" class="input-star-range" />
</div>
<div class="star-next">
    <a onclick="window.showNext(<%=index %>)">決定</a>
</div>
