* {
    margin: 0;
    padding: 0;
}
div.header {
    background-color: #333333;
    height: 50px;
    width: 100%;
    padding-left: 20px;
    display: table;
}
div.header-title {
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    color: white;
}

div.footer {
    position: fixed;
    bottom: 0;
    background-color: #333333;
    height: 20px;
    width: 100%;
    display: table;
}
div.footer-cp {
    font-size: 10px;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    color: white;
}