<%- include('./header') %>
<script type="text/javascript" src="/js/complete.js"></script>
<div class="conteiner">
    <div class="cell cell1">&nbsp</div>
    <div class="cell cell2">
        <div>
            <p>これで終了です。</p>
            <p>ご協力いただきありがとうございました。</p>
            <p>&nbsp;</p>
            <p>しっかり休んで午後もがんばりましょう！</p>
        </div>
    </div><br />
    <div class="cell cell3">
        <img src="/images/vegeplan-icon.png" width="527.5px" height="143px" />
    </div>
</div>
<%- include('./footer') %>