<%# 本体 %>
<!DOCTYPE html>
<html lang="ja">
    <header>
        <title>VegePlanアンケート</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8">
        <meta name="robots" content="noindex,nofollow">
        <meta name="author" content="Awcle.Inc">
        <link rel="stylesheet" href="/css/default.css" type="text/css" />
        <link rel="stylesheet" href="/css/controls.css" type="text/css" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </header>