<%- include('./header') %>
<script type="text/javascript" src="/js/index.js"></script>
<div class="conteiner">
    <div class="cell cell1">&nbsp</div>
    <div class="cell cell2">
        <div>
            <p>ご利用ありがとうございます！</p>
            <p>アンケートにご協力をお願いいたします。</p>
        </div>
    </div><br />
    <div class="cell cell3">
        <button class="select-button start-button" style="float:none;" type="button">スタート</button>
    </div><br />
    <div class="cell cell4">
        <img src="/images/vegeplan-icon.png" width="527.5px" height="143px" />
    </div>
</div>
<%- include('./footer') %>